<h1>Search</h1>
<h3>Perform a search for Colorado government spending in '11</h3>
<!-- A Search by value and field -->
<%= form_tag("/gov_contracts", :method => "get") do %>
  <%= label_tag(:query, "Search for:") %>
  <%= text_field_tag(:query) %>
  <%= label_tag(:dField, "Search field:") %>
  <% if GovContract.first %>
    <%= select_tag :dField, options_for_select(GovContract.first.attributes.keys, "contract_description") %>
  <% else %>
    <%= hidden_field_tag :dField, "contract_description" %>
  <% end %>
  <%= submit_tag("Search") %>
  <p>
    <%= label_tag(:dollars_start, "Dollars Range:") %>
    <%= text_field_tag(:dollars_start) %>
    <%= label_tag(:dollars_end, " TO ") %>
    <%= text_field_tag(:dollars_end) %>
  </p>
  <%= hidden_field_tag :items_per_page, "30" %>
<% end %>
<p><br/></p>
<%= button_to "Populate Index", reindex_gov_contracts_path, confirm: 'Are you sure?' %>
